/*! normalize.css http://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900);
@import url(http://fonts.googleapis.com/css?family=Voces);
@import "http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/*
 * Prevents modern browsers from displaying 'audio' without controls
 */
audio:not([controls]) {
  display: none; }

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
[hidden] {
  display: none; }

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *  http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *  www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

/*
 * Addresses margins handled incorrectly in IE6/7
 */
body {
  margin: 0; }

/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
a:focus {
  outline: thin dotted; }

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:hover,
a:active {
  outline: 0; }

/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */
h1 {
  font-size: 2em;
  margin: 0; }

h2 {
  font-size: 1.5em;
  margin: 0; }

h3 {
  font-size: 1.17em;
  margin: 0; }

h4 {
  font-size: 1em;
  margin: 0; }

h5 {
  font-size: 0.83em;
  margin: 0; }

h6 {
  font-size: 0.75em;
  margin: 0; }

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
abbr[title] {
  border-bottom: 1px dotted; }

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
b,
strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

/*
 * Addresses styling not present in S5, Chrome
 */
dfn {
  font-style: italic; }

/*
 * Addresses styling not present in IE6/7/8/9
 */
mark {
  background: #ff0;
  color: #000; }

/*
 * Addresses margins set differently in IE6/7
 */
p,
pre {
  margin: 1em 0; }

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/*
 * Improves readability of pre-formatted text in all browsers
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
q {
  quotes: none; }

/* 2 */
q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 75%; }

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* =============================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7
 */
dl,
menu,
ol,
ul {
  margin: 1em 0; }

dd {
  margin: 0 0 0 40px; }

/*
 * Addresses paddings set differently in IE6/7
 */
menu,
ol,
ul {
  padding: 0 0 0 40px; }

/*
 * Corrects list images handled incorrectly in IE7
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *  code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/*
 * Corrects overflow displayed oddly in IE9
 */
svg:not(:root) {
  overflow: hidden; }

/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
figure {
  margin: 0; }

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
form {
  margin: 0; }

/*
 * Define consistent border, margin, and padding
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3 
 * 3. Corrects alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
button,
input {
  line-height: normal;
  /* 1 */ }

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *  Known issue: inner spacing remains in IE6
 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */ }

/*
 * Re-set default cursor for disabled elements
 */
button[disabled],
input[disabled] {
  cursor: default; }

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
    Known issue: excess padding remains in IE6
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* =============================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Custom mixins & Placeholders */
*, *:before, *:after {
  /* Chrome 9-, Safari 5-, iOS 4.2-, Android 3-, Blackberry 7- */
  -webkit-box-sizing: border-box;
  /* Firefox (desktop or Android) 28- */
  -moz-box-sizing: border-box;
  /* Firefox 29+, IE 8+, Chrome 10+, Safari 5.1+, Opera 9.5+, iOS 5+, Opera Mini Anything, Blackberry 10+, Android 4+ */
  box-sizing: border-box; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.inner {
  margin: 0 auto;
  width: 90%;
  max-width: 62.5em; }
  .inner:after {
    /* Or @extend clearfix */
    content: "";
    display: table;
    clear: both; }

[class*='col-'] {
  float: left;
  padding-right: 1.875em; }

.col-1-2 {
  width: 100%;
  border-bottom: solid #18180d 2px; }
  .col-1-2:last-of-type {
    border-bottom: 0; }
  @media (min-width: 64em) {
    .col-1-2 {
      width: 50%;
      border-bottom: 0; }
      .col-1-2:last-of-type {
        border-right: 0; } }

.col-1-3 {
  width: 100%; }
  @media (min-width: 30em) {
    .col-1-3 {
      width: 50%; } }
  @media (min-width: 64em) {
    .col-1-3 {
      width: 33.333333%; } }

.col-2-3 {
  width: 100%;
  padding: 0; }
  @media (min-width: 64em) {
    .col-2-3 {
      width: 66.666666%; } }

.col-1-4 {
  width: 100%;
  padding: 0; }
  @media (min-width: 30em) {
    .col-1-4 {
      width: 25%; } }

.col-3-4 {
  width: 100%;
  padding: 0; }
  @media (min-width: 30em) {
    .col-3-4 {
      width: 75%; } }

* {
  box-sizing: border-box; }

html,
button,
input,
select,
textarea {
  color: #1f1f1f; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

body {
  font: 18px/21px "Voces", cursive;
  color: #1f1f1f;
  line-height: 1.7;
  font-smooth: always;
  -webkit-font-smoothing: subpixel-antialiased;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.01);
  background: #fff; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.125em;
  margin: 0 0 .675em 0;
  letter-spacing: 0.0625em;
  font-family: "Source Sans Pro", sans-serif, "Voces", cursive;
  font-style: normal;
  font-weight: 900;
  font-stretch: normal; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 2em;
  text-align: center; }

h3 {
  font-size: 1.6em; }

h4 {
  font-size: 1.6em; }

h5 {
  font-size: 1.4em; }

h6 {
  font-size: 1.2em; }

a {
  text-decoration: none; }
  a:hover {
    color: #444; }

p {
  margin-bottom: 1em; }

small, .small {
  font-size: 0.750em; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

.center {
  text-align: center; }

header {
  width: 100%;
  border-top: solid #90181b 0.4375em;
  border-bottom: solid #18180d 0.1875em; }
  header a {
    font-size: 0.875em; }
    @media (min-width: 64em) {
      header a {
        font-size: 0.75em; } }
  header .logo {
    padding: 0.75em 0 0.625em 0; }

/*! responsive-nav.js 1.0.25 by @viljamis */
.nav-collapse ul {
  font-family: "Source Sans Pro", sans-serif, "Voces", cursive;
  font-weight: 300;
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none; }

.nav-collapse li {
  width: 100%;
  display: block; }

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1; }

.nav-collapse.opened {
  max-height: 9999px; }

.nav-collapse.disable-pointer-events {
  pointer-events: none !important; }

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

@media screen and (min-width: 64em) {
  .js .nav-collapse {
    position: relative; }

  .js .nav-collapse.closed {
    max-height: none; }

  .nav-toggle {
    display: none; } }
/* ------------------------------------------
  DEMO PAGE'S STYLES
--------------------------------------------- */
a:active,
a:hover {
  outline: 0; }

.nav-collapse,
.nav-collapse * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.nav-collapse,
.nav-collapse ul {
  list-style: none;
  width: 100%;
  float: left; }
  @media screen and (min-width: 64em) {
    .nav-collapse,
    .nav-collapse ul {
      width: 80%;
      float: right; } }

.nav-collapse li {
  float: left;
  width: 100%; }

@media screen and (min-width: 64em) {
  .nav-collapse li {
    width: 16.6666667%; } }
.nav-collapse a {
  color: #90181b;
  text-decoration: none;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #90181b;
  padding: 0.7em 1em;
  float: left; }

@media screen and (min-width: 64em) {
  .nav-collapse a {
    margin: 0;
    padding: 1.875em 1em;
    float: left;
    text-align: center;
    border-bottom: 0;
    border-right: 1px solid #18180d;
    -webkit-transition-property: color;
    -moz-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
    .nav-collapse a:hover {
      colour: #18180d; } }
.nav-collapse ul ul a {
  background: #ca3716;
  padding-left: 2em; }

@media screen and (min-width: 64em) {
  .nav-collapse ul ul a {
    display: none; } }
.nav-toggle {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 70px;
  height: 55px;
  float: right;
  text-indent: -9999px;
  overflow: hidden;
  background: #90181b url("hamburger.gif") no-repeat 50% 45%; }

@media screen and (-webkit-min-device-pixel-ratio: 1.3), screen and (min--moz-device-pixel-ratio: 1.3), screen and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-device-pixel-ratio: 1.3), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .nav-toggle {
    background-image: url("hamburger-retina.gif");
    -webkit-background-size: 100px 100px;
    -moz-background-size: 100px 100px;
    -o-background-size: 100px 100px;
    background-size: 100px 100px; } }
.intro {
  height: 12.5em;
  background-image: url(images/home2_small.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top; }
  @media (min-width: 30em) {
    .intro {
      background-image: url(images/home2_medium.jpg);
      height: 20em; } }
  @media (min-width: 64em) {
    .intro {
      height: 25em;
      background-attachment: fixed;
      background-image: url(images/home2.jpg); } }

.icons {
  text-align: right;
  right: 0px;
  position: absolute; }
  .icons a {
    padding: 0;
    margin: 0; }
  .icons ul {
    padding: 0;
    margin: 0; }
  .icons li {
    display: inline-block;
    list-style: none;
    margin-top: 0.5em;
    margin-left: 0.5em;
    width: 2.1875em;
    height: 2.1875em; }
  .icons .en {
    background: url("images/icons.png") no-repeat -5px -6px; }
  .icons .de {
    background: url("images/icons.png") no-repeat -51px -6px; }
  .icons .fb {
    background: url("images/icons.png") no-repeat -5px -47px; }
  .icons .tw {
    background: url("images/icons.png") no-repeat -51px -47px; }

section {
  position: relative;
  background: #fdfdfd url(images/pattern.png) repeat top left;
  color: #18180d; }

section::before,
section::after {
  position: absolute;
  content: '';
  pointer-events: none; }

.about {
  text-shadow: 1px 1px #fff; }
  .about h2 {
    font-weight: 700; }
  @media (min-width: 64em) {
    .about {
      padding: 2.5em 0 5em; } }
  .about .col-1-2 {
    padding: 2.5em 0; }
    @media (min-width: 64em) {
      .about .col-1-2 {
        padding: 0; }
        .about .col-1-2:first-of-type {
          padding-right: 3.125em;
          padding-left: 0em; }
        .about .col-1-2:last-of-type {
          padding-right: 0em;
          padding-left: 3.125em;
          border-left: solid #18180d 0.0625em; } }

.about::before,
.about::after {
  top: -40px;
  left: 0;
  z-index: 10;
  width: 50%;
  height: 40px;
  background: inherit; }
  @media (min-width: 30em) {
    .about::before,
    .about::after {
      top: -50px;
      height: 50px; } }

.about::before {
  border-radius: 0 40px 0 0; }
  @media (min-width: 30em) {
    .about::before {
      border-radius: 0 50px 0 0; } }

.about::after {
  left: 50%;
  border-radius: 40px 0 0 0; }
  @media (min-width: 30em) {
    .about::after {
      border-radius: 50px 0 0 0; } }

.apartmentinfo {
  background: #fdfdfd url(images/pattern.png) repeat top left;
  margin-bottom: 1.25em;
  padding: 1.25em;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }

.apartmentheader {
  background: #fdfdfd url(images/pattern.png) repeat top left;
  color: #18180d;
  margin-bottom: 1.25em;
  border-top: solid #90181b 0.3125em;
  padding: 1.25em;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
  .apartmentheader h2 {
    font-size: 1.33333em;
    font-weight: 600;
    padding: 0;
    margin: 0; }
    @media (min-width: 30em) {
      .apartmentheader h2 {
        font-size: 1.73333em; } }
    @media (min-width: 64em) {
      .apartmentheader h2 {
        font-size: 2em; } }

.pics {
  margin-bottom: 5em; }
  @media (min-width: 64em) {
    .pics {
      margin-bottom: 0em; } }

#gallery-1 {
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.thumbs {
  background: #fdfdfd url(images/pattern.png) repeat top left;
  padding: 3.125em 0.625em;
  color: #18180d;
  -moz-box-shadow: inset 0 0 10px #ccc;
  -webkit-box-shadow: inset 0 0 10px #ccc;
  box-shadow: inset 0 0 10px #ccc; }
  .thumbs h2 {
    font-weight: 900; }
  .thumbs h3 {
    font-weight: 600; }
  @media (min-width: 64em) {
    .thumbs {
      padding: 3.75em; } }

.area {
  padding: 1.875em 0;
  z-index: 1000; }
  .area img {
    width: 100%;
    height: auto; }
  @media (min-width: 30em) {
    .area {
      padding: 0.9375em; } }
  @media (min-width: 64em) {
    .area {
      padding: 1.875em; } }

.area figure {
  margin: 0;
  position: relative; }

.area figure img {
  max-width: 100%;
  display: block;
  position: relative; }

.area figcaption {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  background: #18180d url(images/pattern.png) repeat top left;
  color: #ed4e6e; }

.area figcaption h3 {
  font-size: 1.2em;
  margin: 0;
  padding: 0;
  color: #fff; }

.area figcaption a {
  text-align: center;
  padding: 5px 10px;
  border-radius: 2px;
  display: inline-block;
  background: #90181b;
  color: #fff; }

.area figure img {
  z-index: 10;
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s; }

.no-touch .area figure:hover img,
.area figure.cs-hover img {
  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  -ms-transform: scale(0.4);
  transform: scale(0.4); }

.area figcaption {
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  -moz-transition: -moz-transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s; }

.no-touch .area figure:hover figcaption,
.area figure.cs-hover figcaption {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1; }

.area figure a {
  position: absolute;
  bottom: 20px;
  right: 20px; }

.areaintro {
  height: 9.375em;
  border-bottom: solid #90181b 0.625em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top; }
  @media (min-width: 30em) {
    .areaintro {
      height: 15em; } }
  @media (min-width: 64em) {
    .areaintro {
      height: 25em;
      background-attachment: fixed; } }
  .areaintro span {
    display: inline-block;
    clear: both;
    color: #fff;
    padding: 0;
    margin-bottom: 0.625em;
    font-size: 0.4em;
    height: 4.75em;
    text-shadow: 2px 3px #18180d; }
    @media (min-width: 30em) {
      .areaintro span {
        font-size: 0.66667em;
        height: 5em;
        border-radius: 5px; } }
    @media (min-width: 64em) {
      .areaintro span {
        font-size: 0.8em;
        height: 4.625em; } }
  .areaintro .shadow {
    position: relative;
    top: 100%;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.8))); }

.kreuzberg {
  background-image: url(kreuzberg_small.jpg); }
  @media (min-width: 30em) {
    .kreuzberg {
      background-image: url(kreuzberg_medium.jpg); } }
  @media (min-width: 64em) {
    .kreuzberg {
      background-image: url(kreuzberg.jpg); } }

.friedrichshain {
  background-image: url(friedrichshain_small.jpg); }
  @media (min-width: 30em) {
    .friedrichshain {
      background-image: url(friedrichshain_medium.jpg); } }
  @media (min-width: 64em) {
    .friedrichshain {
      background-image: url(friedrichshain.jpg); } }

.prenzlauerberg {
  background-image: url(prenzlauerberg_small.jpg); }
  @media (min-width: 30em) {
    .prenzlauerberg {
      background-image: url(prenzlauerberg_medium.jpg); } }
  @media (min-width: 64em) {
    .prenzlauerberg {
      background-image: url(prenzlauerberg.jpg); } }

.spandau {
  background-image: url(spandau_small.jpg); }
  @media (min-width: 30em) {
    .spandau {
      background-image: url(spandau_medium.jpg); } }
  @media (min-width: 64em) {
    .spandau {
      background-image: url(spandau.jpg); } }

.alttegel {
  background-image: url(images/areas/alttegel_small.jpg); }
  @media (min-width: 30em) {
    .alttegel {
      background-image: url(images/areas/alttegel_medium.jpg); } }
  @media (min-width: 64em) {
    .alttegel {
      background-image: url(images/areas/alttegel.jpg); } }

.areainfo {
  padding: 1.25em 0;
  background: #fdfdfd url(images/pattern.png) repeat top left;
  color: #18180d;
  border-bottom: solid #18180d 0.3125em;
  padding-bottom: 5em; }
  .areainfo .blurb {
    padding-bottom: 1.25em; }
    .areainfo .blurb:last-of-type {
      padding-bottom: 0em; }
  .areainfo .travel {
    width: 100%;
    color: #a3a4a7;
    font-family: "Source Sans Pro", sans-serif, "Voces", cursive;
    font-weight: 400;
    font-size: 0.8125em; }
    @media (min-width: 64em) {
      .areainfo .travel {
        width: 33.333333%; } }
  @media (min-width: 30em) {
    .areainfo {
      padding-bottom: 6.25em; } }
  @media (min-width: 64em) {
    .areainfo {
      padding: 1.25em 0 4.375em; }
      .areainfo .blurb {
        padding-bottom: 0em;
        padding-right: 4.375em; } }

.map {
  margin: 1.25em 0 1.25em;
  background: #000; }
  .map iframe {
    border: 0.125em solid #18180d; }
  @media (min-width: 64em) {
    .map {
      margin: 3.125em 0 1.25em;
      margin-left: 12.5%; } }

.building::before,
.building::after {
  top: -70px;
  left: 0;
  z-index: 10;
  width: 50%;
  height: 70px;
  background: inherit; }

.building::before {
  border-radius: 0 80px 0 0; }

.building::after {
  left: 50%;
  border-radius: 80px 0 0 0; }

.building {
  background: url(ricepaper2pale.png) repeat top left;
  padding: 1.25em 0;
  color: #18180d; }
  @media (min-width: 64em) {
    .building {
      padding-top: 3.75em;
      padding-bottom: 7.5em; }
      .building .col-2-3 {
        margin-left: 16.6666665%; } }

.building2 {
  background: url(ricepaper2.png) repeat; }

.landlords {
  color: #fff;
  background: #90181b url(pattern.png) repeat top left;
  border-bottom: 0.125em solid white;
  text-shadow: 1px 1px #18180d;
  padding: 3.125em 0; }
  .landlords a {
    color: #18180d; }
  @media (min-width: 64em) {
    .landlords {
      padding: 3.75em; }
      .landlords .col-2-3 {
        margin-left: 16.6666665%; } }

.contact {
  color: #fff;
  background: #18180d url(pattern.png) repeat top left;
  border-top: solid #18180d 0.3125em;
  padding: 3.125em 0;
  text-align: center; }
  .contact img {
    width: 100%;
    height: auto !important; }
  .contact iframe {
    border: 0; }
  .contact .lrg {
    font-size: 1.25em; }
  .contact a {
    color: #fff; }
  .contact h2 {
    padding-bottom: 0.625em; }
  .contact .col-1-2 {
    padding-right: 0;
    padding-bottom: 1.875em;
    border-bottom: solid #fff 1px; }
    .contact .col-1-2:last-of-type {
      padding-top: 1.875em;
      padding-bottom: 0em;
      border-bottom: 0; }
  @media (min-width: 64em) {
    .contact {
      padding: 3.75em 0; }
      .contact .col-1-2 {
        width: 50%;
        border-bottom: 0;
        padding-right: 5em;
        padding-left: 5em; }
        .contact .col-1-2:first-of-type {
          padding-top: 0.625em;
          padding-bottom: 0.625em;
          padding-left: 0em; }
        .contact .col-1-2:last-of-type {
          padding-top: 0.625em;
          padding-bottom: 0.625em;
          border-left: solid #fff 1px;
          padding-right: 0em; } }

/* Flexible iFrame */
.Flexible-container {
  position: relative;
  padding-bottom: 35%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  border: 3px solid #fff; }

.Flexible-container iframe,
.Flexible-container object,
.Flexible-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* html .clearfix {
  zoom: 1; }

/* IE6 */
*:first-child + html .clearfix {
  zoom: 1; }

/* IE7 */
footer {
  color: #fff;
  font-family: "Source Sans Pro", sans-serif, "Voces", cursive;
  font-weight: 300;
  font-size: 0.75em;
  padding: 0.9375em 0;
  text-align: center;
  background: #18180d; }
  footer a {
    color: #fff;
    text-decoration: underline; }
    footer a:hover {
      color: #90181b; }
