.apartmentinfo{
	background:#fdfdfd url(images/pattern.png) repeat top left;
	margin-bottom: em(20);
	padding: em(20);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.apartmentheader{
	background:#fdfdfd url(images/pattern.png) repeat top left;
	color: $black;
	margin-bottom: em(20);
	border-top: solid $red em(5);
	padding: em(20);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);

	h2{	
		font-size: em(20, 15);
		font-weight: 600;
		padding: 0;
		margin: 0;

		@include breakpoint(medium) {
			font-size: em(26, 15);
		}

		@include breakpoint(large) {
			font-size: em(30, 15);
		}
	}
}

.pics{
	margin-bottom: em(80);
	
	@include breakpoint(large) {
		margin-bottom: em(0);
	}
}

#gallery-1 {
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;  
  user-select: none;
}

table { 
  width: 85%;
  font-size: em(13);
  margin: em(30) auto em(0);
  border-collapse: collapse;
  color: $black;
  border: 1px solid $red;
  overflow: hidden;

  -webkit-border-radius: 10px; 

  /* Firefox 1-3.6 */
  -moz-border-radius: 10px;

  border-radius: 10px;
}

tr{
  border-top: 1px solid $red;
  border-bottom: 1px solid $red;
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #F5F5F5; 
}
th { 
  border: 1px solid white;
  background-color: $red;
  color: white;
}
td, th { 
  padding: 6px; 
  border: 1px solid $black; 
  text-align: center; 
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	table { 
  width: 100%;
}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "TYPE"; }
	td:nth-of-type(2):before { content: "BATHROOM"; }
	td:nth-of-type(3):before { content: "KITCHEN"; }
	td:nth-of-type(4):before { content: "SIZE"; }
	td:nth-of-type(5):before { content: "INTERNET"; }
	td:nth-of-type(6):before { content: "PRICE"; }
}
