.intro{ 
	height: em(200);
	background-image: url(images/home2_small.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;

	@include breakpoint(medium) {
			background-image: url(images/home2_medium.jpg);
			height: em(320);
	}

	@include breakpoint(large) {
			height: em(400);
			background-attachment: fixed;
			background-image: url(images/home2.jpg);
			
	}

}

.icons{
	text-align: right;
	right: 0px;
	position: absolute;

	a{
		padding: 0;
		margin: 0;
	}

	ul{
		padding: 0;
		margin: 0;
	}

	li{
		display: inline-block;
		list-style: none;
		margin-top: em(8);
		margin-left: em(8);
		width: em(35);
		height: em(35);
	}

	.en{
		background: url('images/icons.png') no-repeat -5px -6px;
		
	}

	.de{
		background: url('images/icons.png') no-repeat -51px -6px;
		
	}

	.fb{
		background: url('images/icons.png') no-repeat -5px -47px;
		
	}

	.tw{
		background: url('images/icons.png') no-repeat -51px -47px;
		
	}
}













